:root{
    --azul: #3772FF;
    --verde: #36D6AD;
    --verde-escuro: #0fc496;
    --coral: #FC7071;
    --coral-escuro: #fa5d5d;
    --creme: #FCF0E3;
    --cinza-escuro: #737380;
    --cinza-medio: #BCBCBC;
    --cinza-claro: #F7F7F7;
    --cinza-branco: #E5E5E5
    --preto-transparente: #0000000F;
    --branco: #FFFFFF;
    --sombra-botao: rgba(0,0,0,0.25);

    --font-ibm: 'IBM Plex Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}